<div class="content">
  <img class="avatar" src='../../../../assets/or_vishe_gor.png' alt='avatar'>
  <div>
    <h2> Индивидуальный предприниматель Швецова Мария Александровна</h2>
    +79193977777<br/>
    <a href="www.mary.com" title="Сайтик">www.mary.com</a><br/>
    <a href="www.mary.com" title="Сайтик"> www.mary@tochka.com</a><br/>
    <a href="https://pikabu.ru/" title="https://pikabu.ru/">Информация о компании</a><br/>
    <a href="https://pikabu.ru/story/vse_sekretyi_timliderov_i_kouchey_raskryityi_6255027">Показать реквизиты</a><br/>
  </div>
</div>
