<div class="content">
  <h2>О компании Индивидуальный предприниматель Мария Швецова Александровна</h2>
  <p class="simple_text">Сделать далекое близким — главный плюс аренды автомобиля на отдыхе. <br/> 
  Где лучше всего арендовать авто за рубежом и правила проката — все об аренде автомобилей.</p>
  <p class="simple_text">Аренда автомобилей в отпуске — идеальный способ решения 
    транспортной проблемы для тех, кто не хочет зависеть от туристических групп, 
    предпочитает передвигаться самостоятельно и привык планировать отпускной досуг 
    сообразно собственным интересам, не ориентируясь на «стандарты». 
    Агентства по прокату авто гарантированно найдутся в любом мало-мальски приближенном 
    к цивилизации городе мира, а на популярных направлениях их количество и вовсе исчисляется десятками. 
    К услугам туристов и крупные международные прокатные компании — Avis, Hertz, Europcar, 
    и местные агентства, успешно конкурирующие с «монстрами» по ценообразованию и 
    знанию специфики локального рынка. 
    От туриста требуется совсем немногое: международные права, 
    некоторый стаж вождения (в основном, он варьируется от года до двух лет, 
    в зависимости от страны) и наличие финансов как на собственно оплату аренды, так и на залог.
  Аренда автомобилей в отпуске — идеальный способ решения транспортной проблемы для тех, 
  кто не хочет зависеть от туристических групп, предпочитает передвигаться самостоятельно 
  и привык планировать отпускной досуг сообразно собственным интересам, не ориентируясь на «стандарты». 
  Агентства по прокату авто гарантированно найдутся в любом мало-мальски приближенном 
  к цивилизации городе мира, а на популярных направлениях их количество и вовсе исчисляется десятками. 
  К услугам туристов и крупные международные прокатные компании — Avis, Hertz, Europcar, 
  и местные агентства, успешно конкурирующие с «монстрами» по ценообразованию и знанию специфики 
  локального рынка. От туриста требуется совсем немногое: международные права, некоторый 
  стаж вождения (в основном, он варьируется от года до двух лет, в зависимости от страны) 
  и наличие финансов как на собственно оплату аренды, так и на залог.
  </p>		

  <div class="three_col">
    <img class="three_col" src="../../../../assets/m1.JPG">
    <img class="three_col" src="../../../../assets/m2.jpg">
    <img class="three_col" src="../../../../assets/m3.jpg">
  </div>

</div>